


.sub-header select{
    background-color: transparent;
    color: #848484;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 2rem;
}





  .badge-custom {
    border: 1px solid #55AE36 ;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    color: #55AE36;
    border-radius: 30px;
    padding:2px 15px;
  }
 .badge-custom:nth-of-type(2){
    color: #FF624D;
   
 }

 .badge-custom:nth-of-type(4), .badge-custom:nth-of-type(3){
    color:  #868686;
 }


  .badge-custom img{
    width: 30px;
    height: 30px;
    
  }


  .quote-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  .btn-outline-primary {
    border-radius: 30px;
  }
 
  .tab-btn {
    border: none;
    background: none;
    font-weight: 500;
    color: #007bff;
    cursor: pointer;
    padding: 0;
  }
  
  .product-items{
    width: 84%;
    margin-left: 9rem;
  }

/* Breadcrumb */
.breadcrumb a {
    text-decoration: none;
    color: #0d6efd;
  }
  .breadcrumb-item.active {
    color: #6c757d;
  }
  



  .form-select{
      border: 1px solid #000000;
      border-radius: 30px;
      font-size: 16px;
    padding: 5px 30px;
     
  }

  .nav-tabs{
    border-bottom: 2px solid #D0D0D0;
    padding-bottom: 20px;
  }

  .tab-btn{
    color: #000000;
    font-size: 16px;
    font-weight: 600 !important;
  }
  


  

  .table thead th {
    background-color: #F5F5F7;
    font-weight: 500;
    color: #000000;
    border-bottom: 2px solid #e9ecef;
    font-size: 14px;
    padding: 20px 0px 20px 20px;
  }

  

  .table tbody tr td {
    border: none;
    padding: 16px 20px;
    font-size: 15px;
  }

  .table tbody tr + tr {
    border-top: 1px solid #e9ecef;
  }



  .table-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    
  }

  tr.odd td{
   background-color:  #408CC10D;
  } 

  tr.even td{
    background-color:  #fff;
   } 
 
  .btn-view {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 20px;
    font-weight: 500;
    background: transparent;
    transition: all 0.3s ease;
    font-weight: 500;
    outline: none !important;
  }

  .quote-card h6{
       font-weight: 600;
       font-size: 24px;
  }

  .form-label{
    color: #000000;
    font-weight: 600;
    font-size: 16px;
  }

  .select-kg{
    width: 100px !important;
    margin-left: 1rem !important;
    border-radius:30px !important;
    border: 2px solid #D3D3D3;
    padding: 10px ;
  }

  .form-control{
    border: 2px solid #D3D3D3;
    border-radius: 30px !important;
  }
  .form-control::placeholder{
    color:#C9C9C9;
  }

  .request-quote{
       background-color: #408CC1;
       color: white;
       border-radius: 30px;

  }
  .request-Sample{
       color: #408CC1;
       border: 2px solid #408CC1;
       border-radius: 30px;
  }
  .request-quote{
      height: 50px;
      border: 2px solid #408CC1;
  }
  .request-Sample{
          height: 50px;
          background-color: #FFFFFF;
  }

  .quote-desctiption h2{
    font-size: 16px;
    color: #000000;
  }

  .quote-desctiption {
    color:#9D9D9D;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #D0D0D0;
  }

  .quote-desctiption:last-child {
    border-bottom: unset !important;
  }

  .quote-desctiption div{
    margin-top: 15px;
    margin-left: 1.1rem;
  }

  .product-desc{
    font-size: 14px;
    font-weight: 600;
    color: #000000;
  }



/* --- 2. Desktop Header Layout (Default) --- */


/* Logo Styling */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-right: 30px;
    white-space: nowrap;
}

.logo-c {
    color: #007bff;
    font-size: 30px;
}

.logo-market {
    font-weight: normal;
}



  




  @media (max-width: 767px) {

  .table-container{
    overflow-x:auto ;
    margin-bottom: 2rem;
  }
  .table-container tbody tr {
    width: 300px !important;

  }




.latest-news{
  min-width: 250px;
}

.latest-news img{
   margin-right: 6px;
}

.col-lg-4{
  margin: 0 auto;
}

.product-items{
  margin-left: unset;
  margin: 0 auto;
}



  .breadcrumb{
    margin-top: 4rem;
  }
  
.badge-custom{
margin-top: 1rem;
}




  }



/* FOR LARGE SCREEN STYLING */

/*  */
@media (min-width: 768px) and (max-width: 1024px) {
   .product-items{
    margin-left: unset;
    margin: 0 auto;
   }
.quote-card{
  margin-top: 1.5rem;
}
}



